<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Job Runs (Page {{.Page}})</title>
</head>
<body>
  <h1>Job Runs (Page {{.Page}})</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Job</th>
        <th>Created</th>
        <th>Alerts</th>
      </tr>
    </thead>
    <tbody>
      {{range .JobRuns}}
        <tr>
          <td>
            <a href="/jobrun/{{.Id}}">
              {{.Id}}
            </a>
          </td>
          <td>{{.Job}}</td>
          <td>{{.Created}}</td>
          <td>{{len .Alerts}}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
  <p>
    {{if ge .PreviousPage 0}}
    <a href="/?page={{.PreviousPage}}">Previous</a>
    {{end}}
    <a href="/?page={{.NextPage}}">Next</a>
  </p>
</body>
</html>
